
<%- include('head') -%>
<div class="container-fluid d-flex justify-content-between pt-2">
<h1 class="text-center">Welcome Admin </h1>

<button class="btn btn-danger"><a class="text-white" style="text-decoration: none;" href="/admin/logout">Click here to Logout</a></button></div>

<div class="container-fluid d-flex-justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
          <div class="btn-toolbar mb-2 mb-md 0">
                    <div class="btn-group me-2">
                              <a href="/admin/view" class="btn btn-sm btn-outline-secondary">View Users</a>
                    </div>
          </div>
</div>

<%- include('foot') -%>