
<%- include('head') -%>

<h1>Welcome <%= username ? username : ''  %></h1>
<button class="btn btn-danger"><a class="text-white" style="text-decoration: none;" href="/logout">Click here to Logout</a></button>


<%- include('foot') -%>