
<%- include('head') -%>
<body>
  <body style="background-image: url('/public/piano.jpg'); background-size: fill; background-position: center; background-repeat: no-repeat; background-color: inherit;">

    <h1 class="text-center display-4" style="font-weight: bold; color: rgb(138, 138, 77); font-family: Georgia, 'Times New Roman', Times, serif;">Sign Up here!</h1>


  


<div class="registration-form">
          <form method="post" action="/signup" style=" box-shadow: 5px 5px 10px #888888;  background-color: rgba(27, 110, 206, 0.372); border-top-left-radius: 30px; border-top-right-radius: 30px; box-shadow: 5px 5px 10px #888888;">
         
              <div class="form-icon">
                  <span><i class="icon icon-user"></i></span>
              </div>
              <div class="form-group text-center" style="background-color: rgba(245, 245, 245, 0.518);" >
                <% if (messages.error) { %>
                    <p class="error-message text-danger" style="font-size: 20px; font-weight: bold;">
                      <%= messages.error %>
                    </p>
                  <% } %>
                  </div>
              <div class="form-group">
                    <input type="text" class="form-control item" id="fname" name="firstname" placeholder="First name"  >
                </div>
                <div class="form-group">
                    <input type="text" class="form-control item" id="lname" name="lastname" placeholder="Second name">
                </div>
              <div class="form-group ">
                  <input type="text" class="form-control item" id="email" name="email" placeholder="Username or email">
                 
                </input>
              </div>
              <div class="form-group">
                    <div class="form-group" >
                              <input type="text" class="form-control item" name="phonenumber" id="phone-number" placeholder="Phone Number">
                          </div>
                  <input type="password" class="form-control item" id="password" name="password" placeholder="Password">
                 
          </div>
              
            
              <div class="form-group">
                    <input type="submit" class="btn btn-block create-account" value="Signup">
              
              </div>
              <a href="/" class="link-info text-white" style="text-decoration: none;">Already have an account? Click here to Login</a>
          </form>
          <div class="social-media" style="background-color: rgba(27, 110, 206, 0.372); border-bottom-left-radius: 30px; border-bottom-right-radius: 30px; border: none; box-shadow: 5px 5px 10px #888888;" >
              <h5>Sign up with social media</h5>
              <div class="social-icons">
                  <a href="#"><i class="icon-social-facebook" title="Facebook"></i></a>
                  <a href="#"><i class="icon-social-google" title="Google"></i></a>
                  <a href="#"><i class="icon-social-twitter" title="Twitter"></i></a>
              </div>
          </div>
      </div>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
      <script src="assets/js/script.js"></script>

<%- include('foot') -%>